<div class="container">
    <div style="width: 30%;" *ngIf="error" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">
            <span *ngFor="let err of error">{{err}}</span>
        </h4>
    </div>
    <form [formGroup]="searchForm" (submit)="search()">
        <table border="1" style="width: 30%;">
            <tr>
                <td>Select Criteria</td>
                <td>
                    <select formControlName="criteria">
                        <option value="">Select</option>
                        <option value="branchId">Branch ID</option>
                        <option value="branchName">Branch Name</option>
                        <option value="place">Place</option>
                        <option value="invalid">invalid</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Criteria Value</td>
                <td>
                    <input *ngIf="searchForm?.value?.criteria != 'place'" type="text" formControlName="criteriaValue">
                    <select *ngIf="searchForm?.value?.criteria == 'place'"  formControlName="criteriaValue">
                        <option value="">Select</option>
                        <option *ngFor="let place of places" [value]="place">{{place}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Search</button></td>
            </tr>
        </table>
    </form>
</div>

<!-- src/app/branch-table/branch-table.component.html -->
<div class="container a" *ngIf="branches.length > 0">
    <h2>Branch Information</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Branch ID</th>
          <th>Branch Name</th>
          <th>Place</th>
          <th>Website</th>
          <th>Contact</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let branch of branches">
            <tr>
                <td>{{ branch['branchId'] }}</td>
                <td>{{ branch['branchName'] }}</td>
                <td>{{ branch['place'] }}</td>
                <td><a href="javascript: void(0)">{{ branch['website'] }}</a></td>
                <td>{{ branch['contact'] }}</td>
                <td>{{ branch['email'] }}</td>
            </tr>
            <tr>
                <td colspan="6">
                    <table class="table table-bordered child-table" border="1">
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tariff of branch['tariffs']">
                                <td>{{ tariff['place'] }}</td>
                                <td>{{ tariff['tariffAmount'] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <a href="javascript:void(0)" [routerLink]="['/edit-tariff', branch['branchId']]"><strong>Edit Tariffs</strong></a>
                </td>
            </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  