<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tourism Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/" href="javascript:void(0);">Home</a></li>
      <li><a routerLink="/branch-list" href="javascript:void(0);">Search Branches</a></li>
      <li><a routerLink="/add-branch" href="javascript:void(0);">Add Branch</a></li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>